.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .description {
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #c7ccd6;
    position: absolute;
    bottom: 24px;
    left: 24px;
  }

  .invoke-btn {
    margin-top: 32px;
  }
}

.mobile {
  background: linear-gradient(167.98deg, #f5f7ff 0%, #faf3ff 100%);
  border-radius: 0;
}
