.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;

  .firstPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .finalPart {
    display: flex;
    align-items: center;

    .rightOutlined {
      font-size: 14px;
      color: #86909c;
    }
  }
}

.drawer {
  .children {
    padding: 16px 0;
  }
}
