.wrapper {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #eaedf1;

  .title {
    font-size: 14px;
    font-weight: 500;
    color: #1b1e3d;
    margin-bottom: 12px;
  }
}
