.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  .left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #1b1e3d;
  }
}
